

/*NAVBAR !!*/

.navbar{
    background-color: green;
    overflow: hidden;
    padding: 0px; 
    margin: 0px;
    position: sticky;
}

.navbar ul{
    list-style-type: none;
    margin: 5px;
}

.navbar a{
    display: block;
    padding: 15px;
    text-align: center;
    display:block;
}

.logo{
    float: left;
    width: 40px;
    display: block;
    margin: 10px;
}

.nav-left{
    float: left;
}

.nav-right{
    float: right;
}

.navbar a:hover{
    background-color: blue;
}

/*Headin*/

.HEADING{
    text-align: center;
    padding: 10px;
    background-image: url('hosue.PNG');
    background-attachment: fixed;
    background-position: center;
    height: 100px;
}

/*the text box and images that came with it*/

.class img{
    width: 10px;
    height: 10px;
}

.grid {
    padding: 30px 40px;
    margin: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 60% 40%;
}

.box:first-child{
   font-size: 20px;
   margin: 20px;
   background-color: #8f0381;
   grid-column: 1 / 2;
}

.button{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
