.navbar ul{
    list-style-type: none;
    background-color: green;
    overflow: hidden;
}

.navbar a{
    display: block;
    padding: 15px;
    text-align: center;
}

.navbar a:hover{
    background-color: blue;
}

.navbar li{
    float: left;
}



body{
    width: 1px;
}