<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rewies and games!!</title>
</head>
<body>
    {% include 'nav.html' %}
    <section class="HEADING">
         <h1> About us!!</h1>
    </section>

    <section class="yap">
        <div class="sum">
            <p> this is like epuc games yhins where u can post games and like share ur fav games to people who might like same game as you lala </p>
            <img src="{{ url_for('static', filename= 'lago.png') }}" alt="gaming" class="aaa">
            <img src="{{ url_for('static', filename= 'lago.png') }}" alt="gaming" class="aaa">
            <img src="{{ url_for('static', filename= 'lago.png') }}" alt="gaming" class="aaa">
        </div>
    </section>
    <section class="searching"></section>
        <form action="/search" method="get">
            <input type="text" name="query">
    </section>
 
</body>
</html> 
