<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rewies and games!!</title>
</head>
<body>
    {% include 'nav.html' %}
    <section class="HEADING">
         <h1> About us!!</h1>
    </section>
    {% block content %}
    {% endblock %}
    <main>
        <section>
            <div class="grid">
                <p class="box"> You're good at English when you know the difference between a man eating chicken and a man-eating chicken.
I'm worried by the fact that my daughter looks to the local carpet seller as a role model. She could hear him in the shower singing with a joy she hoped he'd retain after she delivered the news.
Before he moved to the inner city, he had always believed that security complexes were psychological. His get rich quick scheme was to grow a cactus farm.
When I cook spaghetti, I like to boil it a few minutes past al dente so the noodles are super slippery.
The furnace repairman indicated the heating system was acting as an air conditioner. She cried diamonds. 
<br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
<br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
<br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
<br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                <img class = "box" src="{{ url_for('static', filename= 'img-1.jpg') }}" alt="gaming">
                <img class= "box" src="{{ url_for('static', filename= 'img-2.jpg') }}" alt="gaming" >
                <img class= "box" src="{{ url_for('static', filename= 'img-3.jpg') }}" alt="gaming" >
            </div>
        </section>

        <!-- wanna break from the ads?-->

        <section class="searching"></section>
            <form action="/search" method="get">
                <input type="text" name="query">
        </section>
    </main>
</body>
</html> 
