{% extends 'base.html' %}
{% block content%}
<body>
    <section>          
        <p> Games here! Lises of games!! uh more more blalelksladndkasjafjfaejad </p>
    </section>
    <lis class="Genre">
        {% for Game in results %}
            <dt> {{ Game[4]}}</dt>
                 <dd><a href="Game/{{Game[0]}}">{{ Game[1]}}</a></dd>
        {% endfor %}
    </lis>
</body>
{% endblock %}

<p>
    tilte of the genre<br>
    kist of games under the genre.
</p>

                <dl>
                    <dt> {{ Game[4]}}</dt>
                    <dd><a href="Game/{{Game[0]}}">{{ Game[1]}}</a></dd>
                </dl>
            </div>

            </lis>  {{ Game[4]}} </lis>