{% extends 'base.html' %}
{% block content%}
<body>
    <p> bla blha</p>
    <section>          
        <p> Games here! Lises of games!! If we dont have a game listed here. Please fill out this 
            <a href="regGame">form!</a> </p>
    </section>

    <lis class="Genre">
        {% for Game in results %}
            <lis> {{ Game[4]}}</lis>
                 <lis><a href="Game/{{Game[0]}}">{{ Game[1]}}</a></lis>
        {% endfor %}
    </lis>

    <h1>Horror</h1>
    {% for Game in Genres %}
        <lis><a href="Game/{{Game[0]}}">{{ Game[1]}}</a></lis>
    {% endfor %}

    <h1>FSP</h1>
    {% for Game in FShooter %}
        <lis><a href="Game/{{Game[0]}}">{{ Game[1]}}</a></lis>
    {% endfor %}
    
</body>
    
{% endblock %}