{% extends 'base.html' %}
{% block content%}
<body>
    <p> bla blha</p>
    <section>          
        <p> Games here! Lises of games!! If we dont have a game listed here. Please fill out this 
            <a href="regGame">form!</a> </p>
    </section>

    <lis>
        {% for Genre in test %}
            <p>{{ Genre[1] }}</p>
        {% endfor %}
    </lis>

    <lis class="Genre">
        {% for Game in results %}
            <dt> {{ Game[4]}}</dt>
                 <dd><a href="Game/{{Game[0]}}">{{ Game[1]}}</a></dd>
        {% endfor %}
    </lis>

</body>
{% endblock %}

<p>
    tilte of the genre<br>
    kist of games under the genre.
</p>

                <dl>
                    <dt> {{ Game[4]}}</dt>
                    <dd><a href="Game/{{Game[0]}}">{{ Game[1]}}</a></dd>
                </dl>
            </div>

            </lis>  {{ Game[4]}} </lis>