{% extends 'base.html' %}
{% block content%}

<!-- big screeen is evil!! fix pls :p -->

    <body>
        <section class="HEADING">
            <h1> About us!!</h1>
        </section>
        <section>
            <div class="Index">
                <section class="box"> 
                    <p> to Website for Games! We are a wesbite fot games! Or a website that 
                    has any types of games from across the inernet! From RPG dnd types games to your cozy romoica visial novals!
                    We are aslo allow user too put games on here that we haven't have on here or didn't know about it! 
                    </p><p>
                    Everyone should be allow to see other games that is not known or is super well know to everyone as it
                    allow small stuido or inda devploers a chance to have a spotlight and reach other user online who love whatver
                    game geners they like!
                    </p><p>
                    If you want to join our small community, sign up now! If not check our catalog of game here! 
                    </p>
                </section>


                <img class = "box" src="{{ url_for('static', filename= 'img-1.jpg') }}" alt="gaming">
                <img class= "box" src="{{ url_for('static', filename= 'img-2.jpg') }}" alt="gaming" >
                <img class= "box" src="{{ url_for('static', filename= 'img-3.jpg') }}" alt="gaming" >
            </div>
        </section>

        <!-- wanna break from the ads?-->

        <section class="searching"></section>
            <form action="/search" method="get">
            <input type="text" name="Game">
        </section>

        <section class="wjhat">
            <a href="Game"> Games</a>
        </section>

    </body>
{% endblock %}