
<nav class="navbar">
    <img src="{{ url_for('static', filename= 'test-1-2.jpg') }}" alt="Epik Lago" class="logo">
        <div>
            <ul>
                <li><a class="nav-left" href="/">About</a></li>
                <li><a class="nav-left" href="/Game">Games</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><a class="nav-right" href="/signin">Signin</a></li>
                <li><a class="nav-right" href="/signup">Signup</a></li>
            </ul>
        </div>
</nav>  