{% extends 'base.html' %}
{% block content%}

<section class="Game-Register">
    <h1>Put a Game on here!</h1>

    <p> Do you have a game that we dont have here? <br>
    Here you can put any game on our website for all to see!!</p>

    <form action="" method="POST" enctype="multipart/form-data">

        <label for="Title">Name of Game</label>
        <input type="text" id="Tile" name="Tile" placeholder="hai" required>

        <label for="About">About the game!</label>
        <input type="text" id="About" name="About" placeholder="test">

        <label for="type_Genre">Genre</label>
        <select id="type_Genre" name="type" required>
            <option value="" selected disabled>select a genre!</option>

            {$ for type_Genre }
        </select>



    Title = request.form["Title"]
    About = request.form["About"]
    type_Genre = request.form["Genre"]

    filename = request.files["file"].filename
    file  = request.files["file"]





    </form>

</section>



{% endblock %}


    <p> Game<br> IMPOTENY Title, About, Genre <br> Not IMPORANT logo </p>
