{% extends 'base.html' %}
{% block content%}

<p> hi hi hi - spoke</p>

<section class="Game-Register">
    <h1>Put a Game on here!</h1>

    <p> Do you have a game that we dont have here? <br>
    Here you can put any game on our website for all to see!!</p>

    <form action="/make_Game" method="POST" enctype="multipart/form-data">

        <!-- Name of game-->
        <label for="Title">Title</label>
        <input type="text" id="Tile" name="Tile" placeholder="hai" required>

        <!-- About-->
        <label for="About">About the game!</label>
        <input type="text" id="About" name="About" placeholder="test">

        <section class="Genrelist">
        <!-- Genre, probaly fix it. IS not showing the genre xd-->
            <label for="type_Genre">Genre</label>
            <select id="type_Genre" name="type" required>
                <option value="" selected disabled>select a genre!</option>
                {% for type_Genre in type_Genre %}
                    <option value="{{ type_Genre['id'] }}">
                        {{ type_Genre['type']}}
                    </option>
                {% endfor %}
            </select>
        </section>

        <button type="submit">Button</button>

    </form>
</select>

    {% for type_Genre in type_Genre %}
            <li> test test {{ type_Genre['type'] }} </li>
    {% endfor %}


{% endblock %}






    <p> Game<br> IMPOTENY Title, About, Genre <br> Not IMPORANT logo </p>
