{% extends 'base.html' %}
{% block content%}

<body>
    <section>
        <div>
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" width="100" height="100">
        </div>
        <div>
            <h1> This is {{ User[1] }}</h1>
        </div>
        <div>
            <p> {{User[3]}} </p>
        </div>
    </section>


    <section>
        <div class="rem">
            <h1> Recommeds!</h1>
            {% for Game in  GaTitle %}
                <li>  
                    <a href="Game/{{Game[0]}}">{{ Game[0]}}</a>
                </li>  
            {% endfor %}
        </div>


        <div class="Fav">
            <h1> User faves...</h1>
            <div>
                <li>  
                    <p>list like a fa game (has to be one),genre, studios!</p>
                </li>
            </div>
        </div>
    </section>
</body>

{% endblock %}

